.photo-grid{
    margin: 0;
    padding: 0;
    /* display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 16px; */
    /* padding: 0 48px; */
    width: 100%;
}