.footer__copyright{
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
    align-self: flex-end;
    
}
@media (max-width:390px){
    .footer__copyright{
        align-self: self-start;
    }
}
