.intro{
    justify-content: left;
    padding-top: 92px;
    padding-bottom: 92px;
    padding-left: 148px;
    display: flex;
    flex-direction: column;
}
@media (max-width:1279px){
  .intro{
    padding-left: 148px;
  }
} 
@media (max-width:1023px){
  .intro{
      max-width: 720px;
      padding-left: 24px;
  }
}
@media (max-width:767px){
  .intro{
      max-width: 700px;
      padding-left: 16px;
  }
} 
@media (max-width:500px){
  .intro{
      max-width: 370px;
      padding-top: 64px;
      padding-bottom: 64px;
  }
}