.intro{
    justify-content: left;
    padding-top: 92px;
    padding-bottom: 92px;
    padding-left: 148px;
    display: flex;
    flex-direction: column;
}
  @media (max-width:1023px){
    .intro{
        max-width: 720px;
        padding-left: 48px;
    }
  }
  @media (max-width:767px){
    .intro{
        padding-left: 24px;
    }
  } 
  @media (max-width:320px){
    .intro{
        padding: 64px 16px;
    }
}